#**Subset selection problem**
**1. Problem statement**

Find all the subsets from a set of numbers whose sum
is zero.


**Costraint: Subset size must be 5**

set = {-12,-3,-6,7,2,-2,6,3,9,-7,-5,-8,1,11,-9,-4}

In [ ]:
import random as r
Set=set([-12,-3,-6,7,2,-2,6,3,9,-7,-5,-8,1,11,-9,-4])
setsize=5
Result=set()
iterations=1000

for i in range(iterations):
  # Convert the set to a list before sampling
  chromosome = r.sample(list(Set),setsize)
  if sum(chromosome)==0:
    Result.add(tuple(chromosome))

for r_item in Result:
  print(r_item)
print("\nTotal",len(Result))

(-4, 3, -2, -3, 6)
(3, -7, 7, -5, 2)
(-12, -8, 7, 11, 2)
(9, 6, -2, -9, -4)
(7, 2, -3, -7, 1)
(-7, 7, -4, 9, -5)
(7, -12, 11, 2, -8)
(1, -6, 7, -5, 3)
(2, 11, -4, -7, -2)
(-4, 6, 9, -2, -9)
(-3, 3, -8, 1, 7)
(2, -12, -3, 6, 7)
(7, 1, -4, 3, -7)
(-5, 7, 1, 6, -9)
(-2, -12, 11, 2, 1)
(6, -6, 9, -12, 3)
(2, -5, 3, 6, -6)
(1, 2, 9, -9, -3)
(6, 2, -6, -3, 1)
(11, -8, 6, -7, -2)
(2, -2, -4, -7, 11)
(-4, -2, 7, -7, 6)
(2, -6, 1, -8, 11)
(-6, 3, -5, 1, 7)
(-9, -7, 11, -2, 7)

Total 25

#**Complete program with sorting**

In [ ]:
import random as r
Set=set([-12,-3,-6,7,2,-2,6,3,9,-7,-5,-8,1,11,-9,-4])
setsize=5
Result=set()
iterations=1000

for i in range(iterations):
  # Convert the set to a list before sampling
  chromosome = r.sample(list(Set),setsize)
  chromosome.sort()
  if sum(chromosome)==0:
    Result.add(tuple(chromosome))

for r_item in Result:
  print(r_item)
print("\nTotal",len(Result))

(-12, -3, 2, 6, 7)
(-9, -3, 2, 3, 7)
(-9, -8, 2, 6, 9)
(-7, -4, -3, 3, 11)
(-7, -3, 1, 3, 6)
(-9, -2, 2, 3, 6)
(-7, -6, -2, 6, 9)
(-6, -4, 1, 3, 6)
(-7, -5, -2, 3, 11)
(-7, -2, 1, 2, 6)
(-5, -3, -2, 3, 7)
(-8, -6, -3, 6, 11)
(-7, -4, -2, 2, 11)
(-8, -2, 1, 3, 6)
(-6, -3, 1, 2, 6)
(-8, -4, 1, 2, 9)
(-9, -6, -5, 9, 11)
(-8, -4, 2, 3, 7)
(-8, -5, 1, 3, 9)
(-12, -5, 2, 6, 9)
(-6, -5, -4, 6, 9)
(-9, -5, 1, 6, 7)
(-9, -6, -2, 6, 11)
(-6, -3, -2, 2, 9)
(-8, -7, -2, 6, 11)

Total 25

#**Constraint : Subset size must be 3 to 6**

In [ ]:
import random as r
Set=set([-12,-3,-6,7,2,-2,6,3,9,-7,-5,-8,1,11,-9,-4])
lb=3
ub=6
Result=set()
iterations=1000

for i in range(iterations):
  setsize=r.randint(lb,ub)
  # Convert the set to a list before sampling
  chromosome = r.sample(list(Set),setsize)
  chromosome.sort()
  if sum(chromosome)==0:
    Result.add(tuple(chromosome))

for r_item in Result:
  print(r_item)
print("\nTotal",len(Result))

(-12, -4, 1, 6, 9)
(-6, -5, -4, -2, 6, 11)
(-12, -2, 3, 11)
(-7, -6, -2, 6, 9)
(-7, -2, 9)
(-4, -3, -2, 9)
(-9, -4, 2, 11)
(-7, -4, 11)
(-6, -5, 2, 3, 6)
(-9, -2, 11)
(-7, -4, -3, -2, 7, 9)
(-8, -5, -4, 1, 7, 9)
(-8, -5, 2, 11)
(-9, -7, -2, 1, 6, 11)
(-9, -3, -2, 1, 2, 11)
(-5, -4, 9)
(-8, -3, 11)
(-7, -4, -3, 1, 2, 11)
(-5, -3, -2, 1, 2, 7)
(-3, 1, 2)

Total 20